<%= form_for(spot) do |f| %>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
      <% spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :prefectures %>
    <%= f.text_field :prefectures %>
  </div>

  <div class="field">
    <%= f.label :prefecture_id, '都道府県' %>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :postcode %>
    <%= f.number_field :postcode %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :mapcode %>
    <%= f.number_field :mapcode %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :access %>
    <%= f.text_area :access %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

 <div class="field">
   <%= f.label :tanada_level_id, '分類' %>
   <%= f.collection_select :tanada_level_id, TanadaLevel.all, :id, :name %>
 </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_area :url %>
  </div>

  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>

  <div class="field">
    <%= f.label :memo %>
    <%= f.text_area :memo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
