<p id="notice"><%= notice %></p>

<% @spots.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |spot| %>
      <div class="col-md-4">
        <%= if spot.picture? then image_tag spot.picture_url(:thumb) else image_tag 'thumb_ine.JPG' end %>
        <h4><%= link_to spot.name, spot %></h4>
        @<%= spot.prefectures %> <%= spot.category %>
      </div>
    <% end %>
  </div>
<% end %>
<br />

<%= link_to 'New Spot', new_spot_path %>
