<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@spot.picture_url, width: 400) if @spot.picture.present? %>
  </div>

  <div class="col-md-9">
    <h3><%= @spot.name %></h3>
    <p><b>住所: </b><br><%= @spot.postcode %> <%= @spot.address %></p>
    <p><b>Access: </b><br><%= markdown @spot.access %></p>
    <p><b>Mapcode: </b><%= @spot.mapcode %></p>
    <p><b>緯度経度: </b><%= @spot.latitude %>, <%= @spot.longitude %></p>
    <!-- <p>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@spot.latitude}%2C#{@spot.longitude}" %>
    </p> -->
    <p><b>level(category): </b><%= @tanada_level.name %></p>
    <p><b>Memo: </b><%= markdown @spot.memo %></p>
    <p><%= link_to '参考サイト', @spot.url %></p>

    <p>
      <%= link_to 'Edit', edit_spot_path(@spot) %> |
      <%= link_to 'Destroy', @spot, data: { confirm: '削除してもいいですか?' }, method: :delete %> |
      <%= link_to 'Back', spots_path %>
    </p>
  </div>

</div>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <p>
      <%= comment.body %> </b><%= comment.user_name %></b> <%= comment.updated_at.to_s(:date) %>
      <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: '削除してもいいですか？' } %>
    </p>
  </div>
<% end %>
<%= render 'comments/form', comment: @comment %>

