<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spot.name %>
</p>

<p>
  <strong>Prefectures:</strong>
  <%= @spot.prefectures %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @spot.postcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @spot.address %>
</p>

<p>
  <strong>Mapcode:</strong>
  <%= @spot.mapcode %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @spot.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @spot.lng %>
</p>

<p>
  <strong>Access:</strong>
  <%= @spot.access %>
</p>

<p>
  <strong>Category:</strong>
  <%= @spot.category %>
</p>

<p>
  <strong>Url:</strong>
  <%= @spot.url %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @spot.picture %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @spot.memo %>
</p>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></p>
  </div>
<% end %>
<%= render 'comments/form', comment: @comment %>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
